@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --color-primary: #060858;
    --color-secondary: #eaf3ff;
    --color-tertiary: #C4C4C4;
    --color-button: #fe652b;
    --color-button-hover: #e55720;
    --color-text: #444444;
    --color-white: #000000;
}

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/fundogames.png);
    background-repeat: repeat;
    background-size: auto;
    background-color: #5c94fc7c
    
}

.main-content {
    
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
    gap: 8px;
    
}

.bannerTitulo{
    max-width: 20%;
    height: auto;
    display: block;
}

.bannerMeninoGamer{
    max-width: 20%;
    height: auto;
    display: block;
}

.participar{
    max-width: 60%;
    height: auto;
    display: block;
}



h1{
    -webkit-text-stroke: 2px rgb(255, 255, 255);
}

/* Seção de entrada */
.input-section {
    flex: 80% ;
    background-color: var(--color-secondary);
    border-radius: 64px 64px 64px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 45%;
    margin-bottom: 200px;
    
}

/* Títulos */
.main-title {
    font-size: 80px;
    font-style: italic;
    color: var(--color-white);
    font-family: "Quantico", sans-serif;
    font-weight: 700;
    font-style: normal;

}

.section-title {

    font-weight: 400;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    
}

/* Contêineres de entrada e botão */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
}

.button-container {
    width: 300px;
    display: flex;
    gap: 8px;
    justify-content: center;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botão */
button {
    padding: 15px 30px;
    font-family: "Quantico", sans-serif;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background-color: #a1a1a1;
}

/* Listas */
ul {
   list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 25px;
    margin: 20px 0;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    gap: 1px;

}

.name-list{
    list-style-type:none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 25px;
    margin: 20px 0;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width:600px;
    min-width: 300px;
    width: auto;
    height: auto;
    box-sizing: border-box;
    word-break: break-word;
    text-align:center;
    font-family: "Quantico", sans-serif;
    font-weight: 700;

    
}

li {
    flex: 1 1 auto;  /* faz cada <li> encolher se precisar */
    max-width: 100%; /* impede que um só <li> ultrapasse o tamanho do pai */
    box-sizing: border-box;
    
}

.result-list {
    margin-top: 15px;
    color: #05DF05;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

/* Botão de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 10px;
    color: var(--color-white);
    
    font-size: 16px;
}

.button-draw img {
    
    max-width: 100%;
    height: auto;
    display: block;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}

/* Mobile */
@media (max-width: 900px) {
  .header-banner {
    flex-direction: column;
    padding: 16px 12px 0;
    gap: 8px;
  }
  .button-draw {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 10px 10px;
    color: var(--color-white);
    font-size: 16px;
}
.button-draw img {
    
    max-width: 80%;
    height: auto;
    display: block;
    justify-content: center;
}

.button-container {
    width: 300px;
    display: flex;
    
    gap: 8px;
    justify-content: center;
}

.bannerTitulo{
    max-width: 60%;
    height: auto;
    display: block;
}

.bannerMeninoGamer{
    max-width: 60%;
    height: auto;
    display: block;
}

.participar{
    max-width: 100%;
    height: auto;
    display: block;
}

/* Seção de entrada */
.input-section {
    flex: 80% ;
    background-color: var(--color-secondary);
    border-radius: 64px 64px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    margin-bottom: 0px;
    
}

}
